@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome ! This is the home page.</h2> 

<p>
    Are you already registered ? @Html.ActionLink("Login", "Index", "User/Login") <br/>
    You want to register? @Html.ActionLink("Register", "Index", "User/Register")
</p>

